 @import "./globals.css";
 @import "./themes.css";
 @import "./from320to768.css";
 @import "./from768to1240.css";
 @import "./from1241.css";


.container {
    max-inline-size: 1200px;
    margin: 0 auto;
}

.button {
    background-color: white;
    border-radius: 60px;
    width: 178px;
    height: 58px;
    box-sizing: border-box;
    padding: 18px;
    text-align: center;
    font-size: 18px;
    color: #023E49;
    outline: none;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #eee;
}

.violet-button {
    background-color: #023E49;
    color: #0CD584;
}

.button:disabled{
    cursor:not-allowed;
    color:gray;
    background-color: #343434;
}

.button:hover:not(:disabled){
    border-color: #eee;
}

.button.violet-button:hover:not(:disabled){
    background-color: #3b2cd8;
}

.violet-button:hover {
    background-color: #3b2cd8;
}

.common-title {
    font-family: 'Steppe-Extrabold', sans-serif;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.logo_svg{
  fill:white;
  color:white;
  inline-size: 260px;
  block-size: 60px;
}

@media (width < 769px) {

}

 .image-container {
   width: 500px;
   height: 300px;
   overflow: hidden;
 }

 .image-with-blurred-edges {
   height: 100%;
   object-fit: cover;
   mask-image:
     linear-gradient(to bottom, transparent 0%, var(--bg-color) 50%, var(--bg-color) 60%, transparent 100%)
     ,
     linear-gradient(to right,  transparent 0%, var(--bg-color) 50%, var(--bg-color) 60%, transparent 100%)
 ;
   mask-image: radial-gradient(
     ellipse at center,
     var(--bg-color) 10%,
     transparent 75%
   );
 }

.order-block-image{}
.products{
  display: flex;
}
